.page {
  background-color: white;
  min-height: 100vh;
  border-bottom: 1px solid transparent;
}

.with-background-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50rem;
  border-bottom: 1px solid var(--color-four);
  background-color: var(--color-four);
}

.imageSection {
  width: 100%;
  position: absolute;
  bottom: -300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.beesHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.beeReflect {
  height: 100px;
  transform: rotate(-25deg) scaleX(-1);
  margin-right: 30px;
}

.bee {
  height: 100px;
  transform: rotate(25deg);
  margin-left: 30px;
}

.container {
  margin: 300px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content  {
  margin: 50px 200px;
}
