.on-primary {
  color: var(--text-on-primary)
}

.on-secondary {
  color: var(--text-on-secondary)
}

.on-tertiary {
  color: var(--text-on-tertiary)
}

.on-page-background {
  color: var(--color-on-page-background)
}

/* Heading */
.title {
  font-size: 2.4rem;
  font-weight: 800;
}

.section {
  font-size: 3.2rem;
}

/* Block */
.block {
  font-size: 2.4rem;
}


/* Tutorial */
