.on-primary {
  color: var(--text-on-color-one)
}

.on-secondary {
  color: var(--text-on-color-two)
}

.on-tertiary {
  color: var(--text-on-color-three)
}

.on-page-background {
  color: var(--text-on-page-background)
}



/* Heading */
.title {
  font-size: 2.4rem;
  font-weight: 800;
}

.section {
  font-size: 3.2rem;
}

.displayBlock {
  display: block;
}

/* Block */
.block {
  font-size: 2.4rem;
}

.block.small {
  font-size: 1.8rem;
}

/* Label */
.labelSize {
  font-size: 1.8rem;
}

.color-one {
  color: var(--color-one);
}

.black {
  color: black;
}

.light {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

/* Caption */
.caption {
  font-size: 1.6rem;
}

