.soil {
  position: absolute;
  bottom: 70px;
  margin-left: calc(50vw - var(--width) / 2);
  margin-right: calc(50vw - var(--width) / 2);

  --width: 250px;
  width: var(--width);
  height: 150px;
  border-radius: 15px;

  background-color: #624A35;
}

.holeContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
  height: 48px;
}

.hole {
  fill: #342314;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.seeds {
  position: absolute;

  top: 15%;
  left: 20%;
  width: 70%;
  height: 70%;
}

.pile {
  position: absolute;

  left: -40%;
  width: 180%;
}

.pile.dry {
  fill: #55381E;
}
.pile.wet {
  fill: #332011;
}
