.tool {
  height: 85px;
  width: 85px;
  background-color: #c4c4c4;
  border: 0.1rem none;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toolIcon {
  height: 40px;
  width: 40px;
}

.toolLabel {
  font-size: 1.6rem;
}

.disabled {
  height: 85px;
  width: 85px;
}