.tool {
  height: 85px;
  width: 85px;
  background-color: #F3E9DC;
  border: 0.1rem none;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toolIcon {
  height: 40px;
  width: 40px;
}

.toolLabel {
  font-size: 1.6rem;
  font-weight: bold;
  color: #937356;
}

.disabled {
  height: 85px;
  width: 85px;
}

.highlight {
  position: absolute;
  --oversizing: 30%;
  left: calc(-0.5 * var(--oversizing));
  top: calc(-0.5 * var(--oversizing));
  width: calc(100% + var(--oversizing));
  height: calc(100% + var(--oversizing));
}