.page {
  min-height: 100vh;
}

.with-background-color {
  /* This border ensures that this container wraps completely around the margins of its contents */
  border: 1px solid var(--color-tertiary);
  background: var(--color-tertiary);
}

.with-background-color > .aside {

}

.background-curve {
  width: 100%;
}