.backgroundCurve {
  width: 100%;
}

.colorOne {
  fill: var(--color-one);
}

.colorTwo {
  fill: var(--color-two);
}

.colorThree {
  fill: var(--color-three);
}

.colorFour {
  fill: var(--color-four);
}

.colorPageBackground {
  fill: var(--color-page-background);
}
