:root {
  --color-page-background: white;
  --color-on-page-background: black;

  --color-primary: #937356;
  --color-secondary: #DBAD8D;
  --color-tertiary: #FFF3E8;

  /*--color-secondary: #8DDBAD;*/
  /*--color-on-secondary: white;*/
  /*--color-tertiary: #E8FFF3;*/

  --color-on-primary: white;
  --color-on-secondary: black;
  --color-on-tertiary: black;

  /*--color-primary: #FFF3E8;*/
  /*--color-secondary: #937356;*/
  /*--color-tertiary: #DBAD8D;*/

  /*--color-on-primary: black;*/
  /*--color-on-secondary: black;*/
  /*--color-on-tertiary: white;*/
}