:root {
  --color-page-background: white;
  --color-on-page-background: black;
  --text-on-page-background: black;

  --color-one: #937356;
  --color-two: #DBAD8D;
  --color-three: #fff3e8;
  --color-four: #90AC8E;

  --text-on-color-one: white;
  --text-on-color-two: black;
  --text-on-color-three: black;
  --text-on-color-four: black;
}