.navBar, .nav {
  display: flex;
  flex-direction: row;
}

.navBar {
  padding-left: 86px;
  padding-right: 112px;
  background-color: var(--color-primary);
  height: 112px;
}

.nav {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 2.4rem;
}

.nav-button {
  margin-left: 1.2rem;
}

.color-primary {
  background-color: var(--color-primary);
}

.color-primary * {
  color: var(--color-on-primary);
}

.color-secondary {
  background-color: var(--color-secondary);
}

.color-secondary * {
  color: var(--color-on-secondary);
}

.color-page-background {
  background-color: var(--color-page-background);
}

.color-page-background * {
  color: var(--color-on-page-background);
}
