.navBar, .nav {
  display: flex;
  flex-direction: row;
}

.navBar {
  padding-left: 86px;
  padding-right: 112px;
  background-color: var(--color-primary);
  height: 112px;
}

.nav {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 2.4rem;
}