.navBar, .nav {
  display: flex;
  flex-direction: row;
}

.navBar {
  padding-left: 86px;
  padding-right: 112px;
  background-color: var(--color-one);
  height: 112px;
}

.nav {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 2.4rem;
}

.nav-button {
  margin-left: 1.2rem;
}

.colorOne {
  background-color: var(--color-one);
}

.colorOne * {
  color: var(--text-on-color-one);
}

.colorTwo {
  background-color: var(--color-two);
}

.colorTwo * {
  color: var(--text-on-color-two);
}

.colorFour {
  background-color: var(--color-four);
}

.colorFour * {
  color: var(--text-on-color-four);
}

.color-page-background {
  background-color: var(--color-page-background);
}

.color-page-background * {
  color: var(--text-on-page-background);
}
