.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 10px 0 10px 20px;
}

.checkMark {
    position: absolute;
    top: -1.3rem;
    left: -0.5rem;
}

.itemText {

}

.itemTextStrikethrough {
    text-decoration: line-through;
}