@keyframes wormBag {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(-45deg);
  }
  32%  {
    transform: rotate(-80deg);
  }
  48%  {
    transform: rotate(-120deg);
  }
  64%  {
    transform: rotate(-45deg);
  }
  80%  {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animateWormBag {
  position: absolute;
  top: -180px;
  left: 150px;
  width: 110px;
  height: 110px;
  margin: auto;
  z-index: 999;
  animation: wormBag var(--worms-duration) 1;
}

@keyframes worms2 {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.worms2 {
  position: absolute;
  left: 35px;
  right: 0;
  bottom: 205px;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 90px;
  z-index: 998;
  opacity: 0;
  animation: worms2 var(--worms-duration) 1;
}

@keyframes worms3 {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  64% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.worms3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 140px;
  margin-left: auto;
  margin-right: auto;
  width: 115px;
  height: 115px;
  z-index: 998;
  opacity: 0;
  animation: worms3 var(--worms-duration) 1;
}