.allCaps {
  text-transform: uppercase;
}

.block-horiz-centered {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}
