.container {
  display: flex;
  width: fit-content;
  align-items: center;
  border: 3px solid var(--color-on-page-background);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 72px;
  font-family: var(--default-font);
  font-size: 1.8rem;
  font-weight: 800;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-on-page-background);
}