.color-secondary {
  background-color: var(--color-secondary);
}

.color-secondary .link {
  color: var(--color-on-secondary);
}

.color-tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
}

.color-tertiary .link {
  color: var(--color-on-tertiary);
}

.nav {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border-width: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 72px;
  margin-left: 1.2rem;
  font-family: var(--default-font);
  font-size: 1.8rem;
  font-weight: bold;
}

.link {
  display: block;
  text-decoration: none;
}