.container {
  --dialog-x-offset: 48px;
  --dialog-y-offset: 42px;
}

.dialog {
  position: absolute;
  bottom: calc(100% + var(--dialog-y-offset));

  width: 460px;
  height: 160px;

  color: var(--text-on-color-three);
  background-color: var(--color-three);

  border: 3px solid var(--color-one);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  position: absolute;
  bottom: 0;
}

.dialog.right {
  left: calc(100% + var(--dialog-x-offset));
}

.arrow.right {
  transform: scale(-1,1);
  left: 0;
}

.dialog.left {
  right: calc(100% + var(--dialog-x-offset));
}

.arrow.left {
  right: 0;
}
