.disabled {
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--text-on-primary);
  font-weight: 900;
}

.disabled:hover {
  cursor: default;
}

.enabled {
  font-weight: normal;
}

.link {
  color: var(--color-on-page-background);
  text-decoration: none;
  font-size: 2.4rem;
}