@keyframes wateringCan {
  0% {
    transform: rotate(-0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50%  {
    transform: rotate(-50deg);
  }
  75%  {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animateWateringCan {
  position: absolute;
  top: -160px;
  left: 100px;
  width: 150px;
  height: 150px;
  z-index: var(--timmy-z-index);
  animation: wateringCan var(--water-duration) 1;
}

@keyframes water {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.waterDrops {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 125px;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
  height: 65px;
  z-index: 399;
  opacity: 0;
  animation: water var(--water-duration) 1;
}