.toolBox {

}

.toolBoxIconOpen {
  position: absolute;
  bottom: 113px;
  left: 934px;
  right: 0;
  z-index: var(--toolbox-icon-z-index);
}

.toolsContainerOpen {
  position: fixed;
  height: 70px;
  width: 950px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px 40px 28px 40px;
  background: #F3E9DC80;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolBoxIconClosed {
  position: absolute;
  bottom: 55px;
  left: 934px;
  z-index: var(--toolbox-icon-z-index);
}

.toolsContainerClosed {
  position: fixed;
  height: 60px;
  width: 1030px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #F3E9DC80;
}

.buttonHighlightWrapper {
  position: absolute;
  --width: 112px;
  height: var(--width);
  width: var(--width);
  bottom: calc((100% - var(--width)) / 2);
  right: calc((100% - var(--width)) / 2);
}

.buttonHighlight {
  width: 100%;
  height: 100%;
}