.toolBox {

}

.toolBoxIconOpen {
  position: absolute;
  bottom: 110px;
  left: 1000px;
  right: 0;
  z-index: var(--toolbox-icon-z-index);
}

.toolsContainerOpen {
  position: fixed;
  height: 85px;
  width: 1000px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 25px 40px;
  background-color: rgba(196, 196, 196, 0.35);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolBoxIconClosed {
  position: absolute;
  bottom: 20px;
  left: 985px;
  right: 0;
  z-index: var(--toolbox-icon-z-index);
}

.toolsContainerClosed {
  position: fixed;
  height: 60px;
  width: 1080px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(196, 196, 196, 0.35);
}